.navbar-brand
{
	padding-top: 5px;

}
.navbar-brand>img
{
	width: auto;
}

/* Color Sub menu pequeño */

.submenu {
    font-size:8px;
    color: #ffe87c;
}

#div-border { 
Position: absolute;
top:15px;
border-left: 2px solid #ffe87c; 

width:1px; 
height:45px; 
} 

/*auto clic menu */
li.dropdown:hover > .dropdown-menu {
    display: block;
}


/*Cambiando el color del menu*/
/*escritorio*/
.navbar-default{
	background-color:  #443030;
	border-color: #443030;
}

.navbar-default .navbar-nav>li>a {
    color: #f7e5d3;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffcc9a;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
    color: #ffcc9a;
    background-color: #443030;
}

.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #f4c393;
    background-color:transparent;
}

.dropdown-menu { 
	background-color: #443030;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
    color: #f4c393;
    background-color: #443030;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
        color: #ffcc9a;
    	background-color: #443030;
}

.dropdown-menu>li>a {
    color: #f4e1cf;
   background-color: #443030; 
}

/*moviles*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #deb187;
    background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #f4e1cf;

}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
    color: #e7b88b;
    background-color: transparent;
}



/*Colores de fondo principal*/

.bg-1 {
    background-color: #895858; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #333333; /* Dark Blue */
    color: #ffffff;
}

.bg-4 {
    background-color: #f7e5d3; /* Dark Blue */
    color: #333;
}

.bg-5 {
    background-color: #443030; /* Dark Blue */
    color: #ffffff;
}

hr {
    border-color: #ffcf12;
    border-width: 3px;
    max-width: 250px;
}
.seccion1{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: -20px;
}

.marketing
{
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn {

	transition: 0.3s;
}

.btn:hover{
	transform:scale(1.5);
}

.subtitulo{
	text-shadow: 2px 2px 5px black;
}

.sombra {
	-webkit-box-shadow: 11px 3px 34px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 3px 34px 0px rgba(0,0,0,0.75);
box-shadow: 11px 3px 34px 0px rgba(0,0,0,0.75);
}

.sombra2 {
	 -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.servicios
{
	padding-bottom: 30px;
}



.filosofia {
	font-size: 16px;
}